.heading{
  text-align:center;
  margin-top:20px;
}

.input-container{
  width:25%;
}

.form-container{
  display:flex;
  justify-content:space-around;
}

@media(max-width:800px){
  .input-container{
    width:80%;
  }
  .form-container{
    flex-direction:column;
    align-items:center;
  }
  .switch-container{
        transform: translate(-50%, 10px);
  }
}